.clear-button,
.grey-button {
  border: 4px transparent solid;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 5px 20px;
  transition: background-color 300ms, border-color 300ms;
}

.clear-button {
  background-color: rgba(68, 68, 68, 0.1);
  border-color: transparent;
  color: #444444;
}

.clear-button:focus,
.clear-button:hover {
  background-color: transparent;
  border-color: rgba(68, 68, 68, 0.1);
}

.grey-button {
  background-color: #444444;
  border-color: #444444;
  color: #1fe7a8;
}

.grey-button:focus,
.grey-button:hover {
  background-color: #333333;
  border-color: #333333;
}

.monospaced-button {
  font-family: monospace;
  font-weight: bold;
}
