.item {
  margin: 0 0 20px;
}

.item-description,
.item-description-complete {
  margin: -.5rem 20px 0;
}

.item-description-complete {
  color: #777777;
  text-decoration: line-through;
}

.item-sort-handle {
  cursor: move;
  padding-left: 0px;
}
